@import "tailwindcss";

@theme {
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Inter", sans-serif;
  
  --color-warm-bg: #f5f5f0;
  --color-olive: #5A5A40;
  --color-soft-white: #FFFFFF;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-warm-bg);
  color: #333;
}

.serif {
  font-family: var(--font-serif);
}
